*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

body{
    background-color: rgb(32, 32, 32);
    transition: all .5s;
    overflow-x: hidden;
}

body.light{
    background-color: rgb(230, 230, 227);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(65, 65, 65);
    height: 50px;
}

body.light header{
    background-color: antiquewhite;
}

button{
    padding: 15px;
    background: none;
    border: none;
    color: antiquewhite;
}

button:hover{
    cursor: pointer;
    text-decoration-line: underline;
}

h1, p, h2, h3{
    color: antiquewhite;
}

body.light button{
    color: black;
}

body.light h1{
    color: black;
}

body.light p{
    color: black;
}

body.light h3{
    color: black;
}

h1{
    position: absolute;
    left: 0;
    top: 0;
}

.opções{
    display: flex;
    position: absolute;
    top: 0px;
    right: -150px;
    background-color: rgb(49, 49, 49);
    height: 300px;
    width: 150px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all .5s;
}

body.light .opções{
    background-color: rgb(176, 177, 179);
}

.botão-trilho{
    position: absolute;
    top: 50px;
    left: 60px;
    background-color: rgb(99, 95, 95);
    height: 15px;
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .5s;
}

.botão-trilho.light{
    background-color: antiquewhite;
}

.bola{
    background-color: rgb(22, 22, 22);
    position: absolute;
    height: 15px;
    width: 15px;
    left: 0px;
    border-radius: 50%;
    transition: all .5s;
}

.bola.light{
    left: 15px;
    background-color: rgb(143, 142, 141);
    transition: all .5s;
}

.modo{
    position: absolute;
    top: 45px;
}

.configuraçõesh3{
    position: relative;
    left: 10px;
}

.config-menu{
    height: 20px;
    width: 30px;
    background-color: rgb(17, 13, 13);
    position: absolute;
    top: 10px;
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: all .5s;
}

.config-menu.openmenu{
    right: 150px;

}

.opções.openmenu{
    right: 0;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.txt-inicio{
    position: absolute;
}