*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(32, 32, 32);
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(65, 65, 65);
    height: 50px;
}

button{
    padding: 15px;
    background: none;
    border: none;
    color: antiquewhite;
}

button:hover{
    cursor: pointer;
    text-decoration-line: underline;
}

h1, p{
    color: antiquewhite;
}

h1{
    position: absolute;
    left: 0;
}